<header>
    <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="games.html">Games</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="community.html">Community</a></li>
            <li><a href="tournaments.html">Tournaments</a></li>
            <li><a href="reviews.html">Reviews</a></li>
            <li><a href="store.html">Store</a></li>
            <li><a href="support.html">Support</a></li>
            <li><a href="login.html">Login</a></li>
        </ul>
    </nav>
</header>
